*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: cadetblue;
}

.navbar{
    width: 100%;
    background-color: aquamarine;
    
}

.nav-items{
    list-style: none;
}
.nav-item{
    text-decoration: none;
    /* display:inline; */
    /* float: left; */
    /* margin: 10px; */
}

/* main{
    margin: 10px;
} */