*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #262626;
    color: white;
    font-family: "Roboto", sans-serif;
}

/* Navigation Bar */
.navbar{
    display: flex;
    width: 100%;
    background-color: #0d0d0d;
    height: 60px;
    justify-content: space-between;
}

/* NavBar is divided into to parts div1(pagename) & div2(items) */

/* Div1(pagename) */
.pagename{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

/* Logo text */
.pagename>a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
}

span{
    color: #660066;
}

/* Div2(items) */
.items-div{
    width: 50%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}


.items-div.nav-items{
    list-style: none;
    text-align: center;
}

.nav-item{
    display:inline;
    font-size: 15px;
    margin-right: 15px;
    
}

.nav-item>a{
    text-decoration: none;
    color: white;
}

.nav-item>button{
    border: 0;
    border-radius: 13px;
    box-shadow: 0 0 8px white;
    padding: 10px;

}

.nav-item>button:active{
    background:#cccccc
}

.nav-item>button>a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-size: 15px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-heading{
    margin: 30px 0;
    font-weight: bold;
}

.login-form{
    border-radius: 5px;
    box-shadow: 2px 2px 20px 2px white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: auto;
    padding: 40px;
    
}

.alert{
    margin-top: 0;
    margin-bottom: 20px;
    color: #cc0000;
}

label{
    font-size: 17px;
    margin-bottom: 10px;
    align-self: self-start;
    font-weight: bold;
}

#username, #password{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 10px;
    background: #e6e6e6;
}

#username:focus, #password:focus{
    background: white;
    box-shadow: 0 0 10px white;
}

.forgotpass{
    color: #bfbfbf;
    align-self:self-start;
    font-size: 15px;
}

.submit{
    width: 250px;
    font-size: 17px;
    padding: 8px;
    align-items: end;
    border: 0;
    border-radius: 13px;
    box-shadow: 0 0 10px white;
}

.submit:active{
    background:#cccccc;
}

.signup-link{
    margin-top: 30px;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}

.signup{
    margin-left: 5px;
    color: #bfbfbf;
    font-size: 15px;
}

.ask-signup{
    font-size: 15px;
    margin-top: 20px;
}


/* footer{
    background-color: black;
    color: white;
} */